/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BEDTOOLS_MAKEWINDOWS {
        ext.args = "-w ${params.window_size + 2*params.buffer_size} -s ${params.window_size} -i srcwinnum"
        publishDir = [
            path: { "${params.outdir}/intervals" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('genome_intervals.bed') ? "calling_intervals.bed" : null }
        ]
    }

    withName: BEDTOOLS_SLOP {
        ext.args = "-b ${params.window_size}"
        ext.prefix = { "${meta.id}_slopped" }
        publishDir = [
            path: { "${params.outdir}/intervals" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('genome_intervals_slopped.bed') ? "imputation_intervals.bed" : null }
        ]
    }

    withName: BCFTOOLS_MPILEUP {
        ext.args = '--skip-indels --annotate INFO/AD,FORMAT/AD,FORMAT/DP'
        ext.args2 = '-mv'
    }

    withName: BCFTOOLS_CONCAT {
        ext.args = '-a'
    }

    withName: BCFTOOLS_SORT {
        ext.prefix = 'sorted'
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}",
            saveAs: { meta.num_intervals > 1 ? null : it }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'SAMTOOLS_VIEW_ON_INTERVAL' {
        ext.args = "--output-fmt bam --write-index"
    }

}
